__pycache__/
*.pyc
venv/
.venv

dataset
checkpoints
wandb
checkpoints_linear
checkpoints_supcon
runs
logs
generated_images*/

finetuned_latent_diffusion/lora_weights
finetuned_latent_diffusion/generated_images/
finetuned_latent_diffusion/*.png